<h1> Hire a new adventurer</h1>

<form method="POST" action="/adventurers">

    
    <p>Randomize? 
        <select class="browser-default" name = "randomize?">
            <option value = "No">No</option>
            <option value = "Yes">Yes</option>
        </select>
    </p>
    <p> Name: <input type="text" name="name"></p>
    <p> Fantasy Origin: <input type="text" name="fantasy_origin"></p>
    <p> Class: <input type="text" name="class"></p>
    <p> Hometown: <input type="text" name="hometown"></p>
    <p> Background: <input type="text" name="background"></p>
    <p> Weapon: <input type="text" name="weapon"></p>
    <p> Nemesis: <input type="text" name="nemesis"></p>

    <input type="submit">

</form>