<div class="container">
 
    <h2>Welcome to the Party Tavern!</h2>

    
      <p>If you're here you must be looking for a group of Fantasy Adventurers to send on some 
      Fantasy Quest. Can't be for the food... Anyway you came to the right place!
       To get started, <a href="/login">Login</a>, or <a href="/signup">Signup</a>! </p>
   

    <

  </div>
</div>
